body{
    font-family: 'Titillium Web', sans-serif;

}
.container{
    width:730px;
    margin:20px auto;
    display: grid;
    grid-template-columns: repeat(3,1fr);
    grid-auto-rows:minmax(75px,auto);
    
    grid-gap:10px;
    box-sizing: border-box;
    
}
.header{
    grid-column:1/4;
    
    border-bottom:#aaa 1px solid;
    
  
}
.main{
    grid-column:1/4;
    grid-row:2/6;
    text-align: center;
    border-radius:9px;
    position:relative;
    background-color: #eee;
}
.main h2{
    margin-top:50px;
}
.list-container{
    grid-column:1/4;
    grid-row:6/8;
   
    margin: 17px; 
    overflow-y:auto;
    box-sizing: border-box;
    height:140px;
    
}


#form1 input{
    margin-top:10px;
    width:400px;
    height:20px;
    padding-left:5px;
    border:none;
}
#form2 input{
    margin-top:15px;
    width:400px;
    height:20px;
    padding-left:5px;
    border:none;
}

.main #form2 span{
    display:inline-block;
    padding:15px;
    background-color: blue;
    color:white;
    border-radius: 5px;
    margin-top:10px;
    cursor:pointer;
}
#form1,#form2{
    text-align:center;
    position:relative;
}
#form1 label{
    position:absolute;
    top:10%;
    left:46%;
    color:black;
}
#form2 label{
    position:absolute;
    top:10%;
    left:46%;
    color:black;
}
.list{
    background-color: #eee;
    border-radius:6px;
    height:65px;
    margin-top:6px;
    box-sizing: border-box;
    padding-top:25px;
    position:relative;
    
}
.list #list-name{
    font-size: 20px;
    margin-left:10px;
    position:absolute;
    bottom:15%;
}
.list a{
    text-decoration: none;
    background-color: white;
    padding:5px;
    color:black;
    margin-left:3px;
    border-radius: 5px;
    position:absolute;
    right:20%;
    bottom:15%;
}
.list #remove{
    
    background-color: red;
    padding:5px;
    color:white;
    border-radius: 5px;
    cursor: pointer;
    position:absolute;
    right:10%;
    bottom:15%;
}